<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Beans definitions and dependency injection -->
	<bean class="co.aurasphere.courseware.java.spring.context.Service">
		<property name="dao" ref="dao" />
	</bean>
	<bean class="co.aurasphere.courseware.java.spring.context.Dao" id="dao" />
</beans>